* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* height: 100%; */
}

.container {
    margin: 0 230px;
}

    {
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    /* background-position: 100%; */
    height: 900px;
    width: 1000px;

}

/* .header-text h1, p, button {
    width: 300px;
    text-align: end;
    align-items: center;
    justify-content: end;
    display: flex;
} */

.about {
    margin: 80px 380px;
    display: flex;
    align-items: center;
}

.about-text {
    margin: 100px 0 0 200px;
}

.plan {
    margin-top: 300px;
    text-align: center;
    height: 600px;
}

.plan-text {
    font-weight: 800;
    margin-bottom: 55px;
    font-size: 35px;
}

.my-plan {
    display: flex;
    line-height: 40px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}



.footer-wrapper {
    height: 577px;
    background-color: #151414;
}

.footer-content {
    padding: 150px 0;
}

.subscribe-input {
    height: 44px;
    width: 325px;
    border: 1px solid white;
    background-color: #000;
    border-radius: 8px;
    margin: 20px 0;
}

.subscribe {
    height: 50px;
    width: 120px;
    color: #F15B22;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}

/* style="background-image: url('images/banner/banner2.png'); background-repeat: no-repeat; background-size: cove;" */